// Place all the styles related to the Conditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.good-conditions {
  font-size: larger;
  color: green;
}

.bad-conditions {
  font-size: larger;
  color: red;
}